In [1]:
# series : 0,0,7,6,14,12,21,18.........
# finding term 't's value in series

term = int(input())
if term%2!=0:
    val = (term//2)*7
else:
    val = (term//2-1)*6
print(f"value: {val}")

 12

value: 30

In [21]:
# series : 1,1,2,3,4,9,8,27,16.........
# finding term 't's value in series
term = int(input())
if term%2==0:
    val = 3**(term//2-1)
else:
    val = 2**(term//2)
print(f"value:{val}")

 9

value:16

In [11]:
# squre
s = int(input())
for i in range(s):
    for j in range(s):
        if i==0 or j==0 or i==s-1 or j==s-1:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

 5

* * * * *
*       *
*       *
*       *
* * * * *

In [29]:
# squre with cross
s = int(input())
for i in range(s):
    for j in range(s):
        if i==0 or j==0 or i==s-1 or j==s-1 or i==j or s-1==i+j:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

 7

* * * * * * *
* *       * *
*   *   *   *
*     *     *
*   *   *   *
* *       * *
* * * * * * *

In [27]:
# pluse
s = int(input())
for i in range(s):
    for j in range(s):
        if i==s//2 or j==s//2:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

 5

    *
    *
* * * * *
    *
    *

In [67]:
s = int(input())
for i in range(s):
    for j in range(s):
        if i==0  or i==s-1 or i==j or s-1==i+j or j==s//2 :
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

 7

* * * * * * *
  *   *   *
    * * *
      *
    * * *
  *   *   *
* * * * * * *

In [65]:
n = int(input())
totalrows = 2*n-1
for i in range(1,totalrows+1):
    if i<=n:
        spaces = i-1
        stars = 2*(n-i)+1
    else:
        spaces = totalrows-i
        stars = 2*(i-n)+1
    print(" "*spaces+'*'*stars)

 7

*************
 ***********
  *********
   *******
    *****
     ***
      *
     ***
    *****
   *******
  *********
 ***********
*************

In [75]:
n = int(input())
for i in range(n):
    print(" "*(n-i),end="")
    num=1
    for j in range(i+1):
        print(num,end=" ")
        num = num*(i-j)//(j+1)
    print()

 6

      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1
 1 5 10 10 5 1

In [79]:
n = int(input())
tri = [[0]*i for i in range(1,n+1)]
for i in range(n):
    tri[i][0]=1
    tri[i][i]=1
    for j in range(1, i):
        tri[i][j] = tri[i-1][j-1]+tri[i-1][j]
for i in range(n):
    print(" "*(n-i), end=" ")
    for num in tri[i]:
        print(num, end=" ")
    print()

 6

       1
      1 1
     1 2 1
    1 3 3 1
   1 4 6 4 1
  1 5 10 10 5 1